/***** STYLE *****/

body {
  --global-font-family: 'Text Me One', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-font-family: 'Cinzel', serif;
}

pre {
  --pre-font-family: 'Share Tech Mono', monospace;
}

[class*="nav"] {
  --navbar-bg-color: SlateBlue;
  --navbar-link-hover-color: PaleGreen;
}

[class*="foot"] {
  --foot-main-bg-color: RoyalBlue;
  --foot-list-link-hover-font-color: Gold;
}