/***** STYLE *****/

body {
  --body-font-family: 'Text Me One', sans-serif;
  --body-background-color: Lavender;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-font-family: 'Cinzel', serif;
}

h1 {
  color: var(--purple);
}

h2 {
  color: var(--green);
}

table {
  --table-font-family: 'Share Tech Mono', monospace;
}

code,
pre {
  --code-font-family: 'Share Tech Mono', monospace;
}

[class*="nav"] {
  --navbar-background-color: var(--sapphire);
}

.slider {
  --keyframes-content1: url(https://animadio.org/img/data/numbers/1.png);
  --keyframes-content2: url(https://animadio.org/img/data/numbers/2.png);
  --keyframes-content3: url(https://animadio.org/img/data/numbers/3.png);
  --keyframes-content4: url(https://animadio.org/img/data/numbers/4.png);
  --keyframes-content5: url(https://animadio.org/img/data/numbers/5.png);
  --slider-check-play-animation: 20s linear;
}
