/***** STYLE *****/

:root {
  --sans-serif-font-family: 'Text Me One', sans-serif;
  --serif-font-family: 'Cinzel', serif;
  --monospace-font-family: 'Share Tech Mono', monospace;
}

body {
  --body-background-color: Lavender;
}

table,
code,
pre {
  text-align: initial;
}

[class*="nav"] {
  --navbar-background-color: var(--blue-dark);
}


h2 {
  color: var(--green);
}

h3 {
  color: var(--navy);
}

h4 {
  color: var(--blue);
}
