<article class="menu-target4">
    <h3>4 - Box</h3>

    <section>
        <h4>4.1 - What's inside the Box ?</h4>

        <p>Box file contains 5 types of helper classes handling the Box Model :</p>
        <ol>
            <li>the Container classes</li>
            <li>the Margin classes</li>
            <li>the Padding classes</li>
            <li>the Height classes</li>
            <li>the Width classes</li>
        </ol>
    </section>

    <section>
        <h4>4.2 - Usage of the Box Classes</h4>

        <p>For the Container classes, you need to concat the class name "container-" with the size you want : between 70, 80 & 90, in a specific media : from xs to xl.</p>

        <p>For the other box classes, you need to concat the full class name like "mar-all-none", or "pad-top-md", or "height-sm", "max-w-lg" with the keyword "base" or "global" : the first to get the effect on the element, the second to get the effect on the direct children.</p>

        <table class="table">
            <caption>Container</caption>

            <thead>
            <tr>
                <th>container class</th>
                <th>max-width property</th>
                <th>@media min-width</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>.container-70xs</th>
                <td>70%</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.container-80xs</th>
                <td>80%</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.container-90xs</th>
                <td>90%</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.container-70sm</th>
                <td>70%</td>
                <td>576px</td>
            </tr>
            <tr>
                <th>.container-80sm</th>
                <td>80%</td>
                <td>576px</td>
            </tr>
            <tr>
                <th>.container-90sm</th>
                <td>90%</td>
                <td>576px</td>
            </tr>
            <tr>
                <th>.container-70md</th>
                <td>70%</td>
                <td>768px</td>
            </tr>
            <tr>
                <th>.container-80md</th>
                <td>80%</td>
                <td>768px</td>
            </tr>
            <tr>
                <th>.container-90md</th>
                <td>90%</td>
                <td>768px</td>
            </tr>
            <tr>
                <th>.container-70lg</th>
                <td>70%</td>
                <td>992px</td>
            </tr>
            <tr>
                <th>.container-80lg</th>
                <td>80%</td>
                <td>992px</td>
            </tr>
            <tr>
                <th>.container-90lg</th>
                <td>90%</td>
                <td>992px</td>
            </tr>
            <tr>
                <th>.container-70xl</th>
                <td>70%</td>
                <td>1200px</td>
            </tr>
            <tr>
                <th>.container-80xl</th>
                <td>80%</td>
                <td>1200px</td>
            </tr>
            <tr>
                <th>.container-90xl</th>
                <td>90%</td>
                <td>1200px</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <caption>Margin</caption>

            <thead>
            <tr>
                <th>item class</th>
                <th>container class</th>
                <th>margin variable</th>
                <th>effect position</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>.mar-all-none</th>
                <th>.mar-all-none-global</th>
                <td>--margin-none</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.mar-all-sm</th>
                <th>.mar-all-sm-global</th>
                <td>--margin-sm</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.mar-all-md</th>
                <th>.mar-all-md-global</th>
                <td>--margin-md</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.mar-all-lg</th>
                <th>.mar-all-lg-global</th>
                <td>--margin-lg</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.mar-top-none</th>
                <th>.mar-top-none-global</th>
                <td>--margin-none</td>
                <td>top</td>
            </tr>
            <tr>
                <th>.mar-top-sm</th>
                <th>.mar-top-sm-global</th>
                <td>--margin-top-sm</td>
                <td>top</td>
            </tr>
            <tr>
                <th>.mar-top-md</th>
                <th>.mar-top-md-global</th>
                <td>--margin-top-md</td>
                <td>top</td>
            </tr>
            <tr>
                <th>.mar-top-lg</th>
                <th>.mar-top-lg-global</th>
                <td>--margin-top-lg</td>
                <td>top</td>
            </tr>
            <tr>
                <th>.mar-right-none</th>
                <th>.mar-right-none-global</th>
                <td>--margin-none</td>
                <td>right</td>
            </tr>
            <tr>
                <th>.mar-right-sm</th>
                <th>.mar-right-sm-global</th>
                <td>--margin-right-sm</td>
                <td>right</td>
            </tr>
            <tr>
                <th>.mar-right-md</th>
                <th>.mar-right-md-global</th>
                <td>--margin-right-md</td>
                <td>right</td>
            </tr>
            <tr>
                <th>.mar-right-lg</th>
                <th>.mar-right-lg-global</th>
                <td>--margin-right-lg</td>
                <td>right</td>
            </tr>
            <tr>
                <th>.mar-bot-none</th>
                <th>.mar-bot-none-global</th>
                <td>--margin-none</td>
                <td>bottom</td>
            </tr>
            <tr>
                <th>.mar-bot-sm</th>
                <th>.mar-bot-sm-global</th>
                <td>--margin-bottom-sm</td>
                <td>bottom</td>
            </tr>
            <tr>
                <th>.mar-bot-md</th>
                <th>.mar-bot-md-global</th>
                <td>--margin-bottom-md</td>
                <td>bottom</td>
            </tr>
            <tr>
                <th>.mar-bot-lg</th>
                <th>.mar-bot-lg-global</th>
                <td>--margin-bottom-lg</td>
                <td>bottom</td>
            </tr>
            <tr>
                <th>.mar-left-none</th>
                <th>.mar-left-none-global</th>
                <td>--margin-none</td>
                <td>left</td>
            </tr>
            <tr>
                <th>.mar-left-sm</th>
                <th>.mar-left-sm-global</th>
                <td>--margin-left-sm</td>
                <td>left</td>
            </tr>
            <tr>
                <th>.mar-left-md</th>
                <th>.mar-left-md-global</th>
                <td>--margin-left-md</td>
                <td>left</td>
            </tr>
            <tr>
                <th>.mar-left-lg</th>
                <th>.mar-left-lg-global</th>
                <td>--margin-left-lg</td>
                <td>left</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <caption>Padding</caption>

            <thead>
            <tr>
                <th>item class</th>
                <th>container class</th>
                <th>padding variable</th>
                <th>effect position</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>.pad-all-none</th>
                <th>.pad-all-none-global</th>
                <td>--padding-none</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.pad-all-sm</th>
                <th>.pad-all-sm-global</th>
                <td>--padding-sm</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.pad-all-md</th>
                <th>.pad-all-md-global</th>
                <td>--padding-md</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.pad-all-lg</th>
                <th>.pad-all-lg-global</th>
                <td>--padding-lg</td>
                <td>all</td>
            </tr>
            <tr>
                <th>.pad-top-none</th>
                <th>.pad-top-none-global</th>
                <td>--padding-none</td>
                <td>top</td>
            </tr>
            <tr>
                <th>.pad-top-sm</th>
                <th>.pad-top-sm-global</th>
                <td>--padding-top-sm</td>
                <td>top</td>
            </tr>
            <tr>
                <th>.pad-top-md</th>
                <th>.pad-top-md-global</th>
                <td>--padding-top-md</td>
                <td>top</td>
            </tr>
            <tr>
                <th>.pad-top-lg</th>
                <th>.pad-top-lg-global</th>
                <td>--padding-top-lg</td>
                <td>top</td>
            </tr>
            <tr>
                <th>.pad-right-none</th>
                <th>.pad-right-none-global</th>
                <td>--padding-none</td>
                <td>right</td>
            </tr>
            <tr>
                <th>.pad-right-sm</th>
                <th>.pad-right-sm-global</th>
                <td>--padding-right-sm</td>
                <td>right</td>
            </tr>
            <tr>
                <th>.pad-right-md</th>
                <th>.pad-right-md-global</th>
                <td>--padding-right-md</td>
                <td>right</td>
            </tr>
            <tr>
                <th>.pad-right-lg</th>
                <th>.pad-right-lg-global</th>
                <td>--padding-right-lg</td>
                <td>right</td>
            </tr>
            <tr>
                <th>.pad-bot-none</th>
                <th>.pad-bot-none-global</th>
                <td>--padding-none</td>
                <td>bottom</td>
            </tr>
            <tr>
                <th>.pad-bot-sm</th>
                <th>.pad-bot-sm-global</th>
                <td>--padding-bottom-sm</td>
                <td>bottom</td>
            </tr>
            <tr>
                <th>.pad-bot-md</th>
                <th>.pad-bot-md-global</th>
                <td>--padding-bottom-md</td>
                <td>bottom</td>
            </tr>
            <tr>
                <th>.pad-bot-lg</th>
                <th>.pad-bot-lg-global</th>
                <td>--padding-bottom-lg</td>
                <td>bottom</td>
            </tr>
            <tr>
                <th>.pad-left-none</th>
                <th>.pad-left-none-global</th>
                <td>--padding-none</td>
                <td>left</td>
            </tr>
            <tr>
                <th>.pad-left-sm</th>
                <th>.pad-left-sm-global</th>
                <td>--padding-left-sm</td>
                <td>left</td>
            </tr>
            <tr>
                <th>.pad-left-md</th>
                <th>.pad-left-md-global</th>
                <td>--padding-left-md</td>
                <td>left</td>
            </tr>
            <tr>
                <th>.pad-left-lg</th>
                <th>.pad-left-lg-global</th>
                <td>--padding-left-lg</td>
                <td>left</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <caption>Height</caption>

            <thead>
            <tr>
                <th>item class</th>
                <th>container class</th>
                <th>height variable</th>
                <th>effect</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>.height-sm</th>
                <th>.height-sm-global</th>
                <td>--height-sm</td>
                <td>this</td>
            </tr>
            <tr>
                <th>.height-md</th>
                <th>.height-md-global</th>
                <td>--height-md</td>
                <td>this</td>
            </tr>
            <tr>
                <th>.height-lg</th>
                <th>.height-lg-global</th>
                <td>--height-lg</td>
                <td>this</td>
            </tr>
            <tr>
                <th>.max-h-sm</th>
                <th>.max-h-sm-global</th>
                <td>--max-height-sm</td>
                <td>max</td>
            </tr>
            <tr>
                <th>.max-h-md</th>
                <th>.max-h-md-global</th>
                <td>--max-height-md</td>
                <td>max</td>
            </tr>
            <tr>
                <th>.max-h-lg</th>
                <th>.max-h-lg-global</th>
                <td>--max-height-lg</td>
                <td>max</td>
            </tr>
            <tr>
                <th>.min-h-sm</th>
                <th>.min-h-sm-global</th>
                <td>--min-height-sm</td>
                <td>min</td>
            </tr>
            <tr>
                <th>.min-h-md</th>
                <th>.min-h-md-global</th>
                <td>--min-height-md</td>
                <td>min</td>
            </tr>
            <tr>
                <th>.min-h-lg</th>
                <th>.min-h-lg-global</th>
                <td>--min-height-lg</td>
                <td>min</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <caption>Width</caption>

            <thead>
            <tr>
                <th>item class</th>
                <th>container class</th>
                <th>width variable</th>
                <th>effect</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>.width-sm</th>
                <th>.width-sm-global</th>
                <td>--width-sm</td>
                <td>this</td>
            </tr>
            <tr>
                <th>.width-md</th>
                <th>.width-md-global</th>
                <td>--width-md</td>
                <td>this</td>
            </tr>
            <tr>
                <th>.width-lg</th>
                <th>.width-lg-global</th>
                <td>--width-lg</td>
                <td>this</td>
            </tr>
            <tr>
                <th>.max-w-sm</th>
                <th>.max-w-sm-global</th>
                <td>--max-width-sm</td>
                <td>max</td>
            </tr>
            <tr>
                <th>.max-w-md</th>
                <th>.max-w-md-global</th>
                <td>--max-width-md</td>
                <td>max</td>
            </tr>
            <tr>
                <th>.max-w-lg</th>
                <th>.max-w-lg-global</th>
                <td>--max-width-lg</td>
                <td>max</td>
            </tr>
            <tr>
                <th>.min-w-sm</th>
                <th>.min-w-sm-global</th>
                <td>--min-width-sm</td>
                <td>min</td>
            </tr>
            <tr>
                <th>.min-w-md</th>
                <th>.min-w-md-global</th>
                <td>--min-width-md</td>
                <td>min</td>
            </tr>
            <tr>
                <th>.min-w-lg</th>
                <th>.min-w-lg-global</th>
                <td>--min-width-lg</td>
                <td>min</td>
            </tr>
            </tbody>
        </table>
    </section>
</article>