<article class="menu-target5">
    <h3>5 - Helpers</h3>

    <section>
        <h4>5.1 - What kind of helpers ?</h4>

        <p>The 3 types of helper classes available in addition are :</p>
        <ol>
            <li>the Font classes</li>
            <li>the Text classes</li>
            <li>the Cursor classes</li>
        </ol>
    </section>
</article>