<article class="menu-target2">
    <h4>Keyframes</h4>

    <section class="card-maroon">
        <h5>Keyframes Infos</h5>
        <p>Animation keyframes will be more in the future than now...</p>
        <a class="btn-maroon" href="https://github.com/animadio/animadio/blob/master/src/global/keyframes.css" title="View CSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <section>
        <h5>Where Keyframes would be used ?</h5>

        <p>Keyframes could be used by 3 ways :</p>
        <ol>
            <li>in some Elements classes</li>
            <li>in the Anima classes</li>
            <li>in your own stylesheet file</li>
        </ol>
    </section>

    <section>
        <h5>How to use Keyframes ?</h5>

        <p>Just choose <strong>the required keyframes</strong> with its name in the following file :</p>
        <a class="btn-green" href="https://github.com/animadio/animadio/blob/master/src/global/variables/_keyframes.var.scss" title="View all Keyframes" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-github-alt fa-3x" aria-hidden="true"></i>
            Keyframes
        </a>

        <p>Then in your custom stylesheet file, write a CSS declaration with the necessary selector, the animation property, <strong>the keyframes name to use</strong> & the animation options you want !</p>

        <p>You can find more informations about keyframes usage here :</p>
        <a class="btn-blue" href="https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes" title="@keyframes" rel="noreferrer noopener" target="_blank">Keyframes</a>
        <a class="btn-blue" href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation" title="Animation Property" rel="noreferrer noopener" target="_blank">Animation</a>
        <a class="btn-blue" href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-name" title="Animation Name Property" rel="noreferrer noopener" target="_blank">Animation Name</a>
        <a class="btn-blue" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations" title="CSS Animation Usage" rel="noreferrer noopener" target="_blank">Keyframes Usage</a>
    </section>
</article>
