{% extends 'layout/layout.twig' %}

{% block subtitle %}Grid{% endblock %}

{% block description %}Animadio Documentation about Animadio Grid : Flex, Grid, Align & Justify{% endblock %}

{% block main %}

<article>
    <h2>Grid</h2>

    {{ include("grid/grid.twig") }}
    {{ include("grid/flex.twig") }}
    {{ include("grid/align.twig") }}
    {{ include("grid/justify.twig") }}

</article>
{% endblock %}
