{% extends 'layout/layout.twig' %}

{% block subtitle %}Grid{% endblock %}

{% block description %}Animadio Documentation about Animadio Grid : Grid, Fluid, Flex & Place{% endblock %}

{% block main %}

<article>
    <h2>Grid</h2>

    <section class="card-red">
        <figure>
            <img src="img/logo.png" alt="Animadio Logo">
        </figure>
        <h3>Grid Usage</h3>
        <p>To use the Grid feature, you can concatenate each Screen with the desired number of columns after the same Grid keyword.</p>
        <a class="btn-tomato" href="https://cdn.jsdelivr.net/npm/animadio@0.6.5/dist/animadio-grid.css">Access to Animadio Grid CDN !</a>
    </section>

    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">
    <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">

    <nav class="menu">
        <label for="menu-radio1">
            Grid | Fluid
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio2">
            Flex
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio3">
            Place
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
    </nav>

    <section class="menu-relay">
        <h3>Grid Parts</h3>

        {{ include("grid/fluid.twig") }}
        {{ include("grid/flex.twig") }}
        {{ include("grid/place.twig") }}

    </section>
</article>
{% endblock %}
