{% extends 'layout/layout.twig' %}

{% block subtitle %}Grid{% endblock %}

{% block description %}Animadio Documentation about Animadio Grid : Flex, Grid, Align & Justify{% endblock %}

{% block main %}

<article>
    <h2>Grid</h2>

    <section>
        <h3>Grid</h3>


    </section>

    <section>
        <h3>Flex</h3>


    </section>

    <section>
        <h3>Align</h3>


    </section>

    <section>
        <h3>Justify</h3>


    </section>
</article>
{% endblock %}