{% extends 'layout/layout.twig' %}

{% block subtitle %}States{% endblock %}

{% block description %}Animadio Documentation about Animadio States : anima, bg, bord, color, deco, display, flow, position, shabox & shatex{% endblock %}

{% block main %}

<article>
    <h2>States</h2>

    <section>
        <h3>Color</h3>


    </section>

    <section>
        <h3>BG</h3>


    </section>

    <section>
        <h3>Shabox</h3>


    </section>

    <section>
        <h3>Shatex</h3>


    </section>

    <section>
        <h3>Anima</h3>


    </section>

    <section>
        <h3>Bord</h3>

    </section>

    <section>
        <h3>Deco</h3>


    </section>

    <section>
        <h3>Display</h3>


    </section>

    <section>
        <h3>Position</h3>


    </section>

    <section>
        <h3>Flow</h3>


    </section>
</article>
{% endblock %}
