<article class="menu-target1">
    <h4>Btn | Button</h4>

    <section class="card-green">
        <h5>Btn Infos</h5>
        <p>You can use Btn classes for links & Button classes for effects !</p>
        <a class="btn" href="https://codepen.io/animadio/pen/LamGvj" title="View HTML Example @CodePen" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-html5 fa-lg color-sky color-blue-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/variables/_btn.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-violet color-tomato-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/classes/_btn.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-violet color-tomato-into" aria-hidden="true"></i>
        </a>
    </section>
</article>
