<article class="menu-target2">
    <h3>Card</h3>

    <section class="card">
        <figure>
            <img src="img/logo.png" alt="#">
        </figure>
        <h4>Card</h4>
        <p>This is some text... This is some text... This is some text... This is some text... This is some text...</p>
        <a class="btn" href="#">View More</a>
    </section>

    <section class="card-black">
        <figure>
            <img src="img/logo.png" alt="#">
        </figure>
        <h4>Card Black</h4>
        <p>This is some text... This is some text... This is some text... This is some text... This is some text...</p>
        <a class="btn-white" href="#">View More</a>
    </section>

    <section class="card-blue">
        <figure>
            <img src="img/logo.png" alt="#">
        </figure>
        <h4>Card Blue</h4>
        <p>This is some text... This is some text... This is some text... This is some text... This is some text...</p>
        <a class="btn-sky" href="#">View More</a>
    </section>

    <section class="card-green">
        <figure>
            <img src="img/logo.png" alt="#">
        </figure>
        <h4>Card Green</h4>
        <p>This is some text... This is some text... This is some text... This is some text... This is some text...</p>
        <a class="btn-jade" href="#">View More</a>
    </section>

    <section class="card-red">
        <figure>
            <img src="img/logo.png" alt="#">
        </figure>
        <h4>Card Red</h4>
        <p>This is some text... This is some text... This is some text... This is some text... This is some text...</p>
        <a class="btn-tomato" href="#">View More</a>
    </section>

    <section class="card-purple">
        <figure>
            <img src="img/logo.png" alt="#">
        </figure>
        <h4>Card Purple</h4>
        <p>This is some text... This is some text... This is some text... This is some text... This is some text...</p>
        <a class="btn-violet" href="#">View More</a>
    </section>

    <section class="card-yellow">
        <figure>
            <img src="img/logo.png" alt="#">
        </figure>
        <h4>Card Yellow</h4>
        <p>This is some text... This is some text... This is some text... This is some text... This is some text...</p>
        <a class="btn-khaki" href="#">View More</a>
    </section>
</article>
