<article class="menu-target2">
    <h3>Card</h3>

    {% for card in allCardClasses %}
    <section class="{{ card.class }}">
        <figure>
            <img src="img/logo.png" alt="Animadio Logo">
        </figure>
        <h4>{{ card.class }}</h4>
        <p>This is some text... This is some text... This is some text... This is some text... This is some text...</p>
        <a class="{{ card.class|replace({ 'card': "btn" }) }}" href="#">View More</a>
    </section>
    {% endfor %}
</article>
