<article class="menu-target3">
    <h3>Foot</h3>

    <section class="card">
        <h4>Foot Infos</h4>
        <p>You can use Foot class to get a footer skeleton !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/foot.css" title="View Foot Source Code">Foot Code</a>
    </section>
</article>
