<article class="menu-target3">
    <h4>Foot</h4>

    <section class="card-green">
        <h5>Foot Infos</h5>
        <p>You can use Foot class to get a footer skeleton !</p>
        <a class="btn-green" href="https://codepen.io/animadio/pen/YgLwbe" title="View HTML Example @CodePen" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-html5 fa-lg" aria-hidden="true"></i>
        </a>
        <a class="btn-green" href="https://github.com/animadio/animadio/blob/master/src/elements/foot.css" title="View CSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>
</article>
