<article class="menu-target4">
    <h3>Form</h3>

    <form class="form">

        <fieldset>
            <legend>Form Legend</legend>
            <ul>
                <li>
                    <label for="text">Text Field</label>
                    <input id="text" type="text" placeholder="This is a text">
                </li>
                <li>
                    <label for="number">Number Field</label>
                    <input id="number" type="number" placeholder="0123456789">
                </li>
                <li>
                    <label for="date">Date Field</label>
                    <input id="date" type="date">
                </li>
                <li>
                    <label for="file">File Field</label>
                    <input id="file" type="file">
                </li>
                <li>
                    <label for="email">Email Field</label>
                    <input id="email" type="email" placeholder="me@domain.mail">
                </li>
                <li>
                    <label for="tel">Tel Field</label>
                    <input id="tel" type="tel" placeholder="123-456-789">
                </li>
                <li>
                    <label for="password">Password Field</label>
                    <input id="password" type="password" placeholder="********">
                </li>
                <li>
                    <label for="checkbox">Checkbox</label>
                    <input id="checkbox" type="checkbox">
                </li>
                <li>
                    <label for="radio">Radio</label>
                    <input id="radio" type="radio">
                </li>
                <li>
                    <label for="range">Range</label>
                    <input id="range" type="range">
                </li>
                <li>
                    <label for="big-text">Big Text Field</label>
                    <textarea id="big-text" placeholder="This is a big text !"></textarea>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="reset" value="Cancel">
                    <input type="submit" value="Send">
                </li>
            </ul>
        </fieldset>
    </form>
</article>
