<article class="menu-target5">
    <h3>Gallery</h3>

    <section class="card">
        <h4>Gallery Infos</h4>
        <p>You can use Gallery class to show pictures or videos !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/gallery.css">View Gallery Source Code</a>
    </section>

    </section>
</article>
