<article class="menu-target6">
    <h3>Menu</h3>

    <section class="card">
        <h4>Menu Infos</h4>
        <p>You can use Menu class to hide some parts of any page or an embedded part if you need !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/menu.css" title="View Menu Source Code">Menu Code</a>
    </section>

    <section>
        <h4>Menu Example</h4>

        <!-- Menu Hidden Controls -->
        <input id="menu-example-radio1" class="menu-radio1" type="radio" name="menu-example">
        <input id="menu-example-radio2" class="menu-radio2" type="radio" name="menu-example">
        <input id="menu-example-radio3" class="menu-radio3" type="radio" name="menu-example" checked>
        <input id="menu-example-radio4" class="menu-radio4" type="radio" name="menu-example">
        <input id="menu-example-radio5" class="menu-radio5" type="radio" name="menu-example">

        <!-- Menu -->
        <nav class="menu">
            <label for="menu-example-radio1">
                Odd numbers
                <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
            </label>
            <label for="menu-example-radio2">
                Even Numbers
                <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
            </label>
            <label for="menu-example-radio3">
                Prime Numbers
                <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
            </label>
            <label for="menu-example-radio4">
                All Numbers
                <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
            </label>
            <label for="menu-example-radio5">
                None Number
                <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
            </label>
        </nav>

        <!-- Gallery -->
        <figure class="gallery menu-relay">

            <!-- 1st picture -->
            <figure class="menu-target1-target3-target4">
                <img src="https://animadio.org/img/data/numbers/1.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h5>Your 1st title</h5>
                        <p>Your 1st description</p>
                        <i class="fas fa-image" aria-hidden="true"></i>
                    </a>
                </figcaption>
            </figure>

            <!-- 2nd picture -->
            <figure class="menu-target2-target3-target4">
                <img src="https://animadio.org/img/data/numbers/2.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h3>Your 2nd title</h3>
                        <p>Your 2nd description</p>
                        <i class="fas fa-image" aria-hidden="true"></i>
                    </a>
                </figcaption>
            </figure>

            <!-- 3rd picture -->
            <figure class="menu-target1-target3-target4">
                <img src="https://animadio.org/img/data/numbers/3.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h3>Your 3rd title</h3>
                        <p>Your 3rd description</p>
                        <i class="fas fa-image" aria-hidden="true"></i>
                    </a>
                </figcaption>
            </figure>

            <!-- 4th picture -->
            <figure class="menu-target2-target4">
                <img src="https://animadio.org/img/data/numbers/4.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h3>Your 4th title</h3>
                        <p>Your 4th description</p>
                        <i class="fas fa-image" aria-hidden="true"></i>
                    </a>
                </figcaption>
            </figure>

            <!-- 5th picture -->
            <figure class="menu-target1-target3-target4">
                <img src="https://animadio.org/img/data/numbers/5.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h3>Your 5th title</h3>
                        <p>Your 5th description</p>
                        <i class="fas fa-image" aria-hidden="true"></i>
                    </a>
                </figcaption>
            </figure>

            <!-- 6th picture -->
            <figure class="menu-target2-target4">
                <img src="https://animadio.org/img/data/numbers/6.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h3>Your 6th title</h3>
                        <p>Your 6th description</p>
                        <i class="fas fa-image" aria-hidden="true"></i>
                    </a>
                </figcaption>
            </figure>

            <!-- 7th picture -->
            <figure class="menu-target1-target3-target4">
                <img src="https://animadio.org/img/data/numbers/7.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h3>Your 7th title</h3>
                        <p>Your 7th description</p>
                        <i class="fas fa-image" aria-hidden="true"></i>
                    </a>
                </figcaption>
            </figure>

            <!-- 8th picture -->
            <figure class="menu-target2-target4">
                <img src="https://animadio.org/img/data/numbers/8.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h3>Your 8th title</h3>
                        <p>Your 8th description</p>
                        <i class="fas fa-image" aria-hidden="true"></i>
                    </a>
                </figcaption>
            </figure>
        </figure>
    </section>
</article>
