<article class="menu-target8">
    <h3>Slider</h3>

    <section class="card">
        <h4>Slider Infos</h4>
        <p>You can use Slider class to show an interactive picture slider without JS !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/slider.css">View Slider Source Code</a>
    </section>

    <section>
        <h4>Slider Example</h4>

        <header class="slider">

            <!-- Slider Hidden Controls -->
            <input id="slider-check-play" type="checkbox" checked>
            <input id="slider-check-repeat" type="checkbox" checked>
            <input id="slider-check-direction" type="checkbox">
            <input id="slider-radio1" type="radio" name="slider" checked>
            <input id="slider-radio2" type="radio" name="slider">
            <input id="slider-radio3" type="radio" name="slider">
            <input id="slider-radio4" type="radio" name="slider">
            <input id="slider-radio5" type="radio" name="slider">

            <!-- Slider Pictures -->
            <figure>
                <img src="https://animadio.org/img/data/numbers/1.png" alt="Your awesome alternate text">
                <img src="https://animadio.org/img/data/numbers/2.png" alt="Your awesome alternate text">
                <img src="https://animadio.org/img/data/numbers/3.png" alt="Your awesome alternate text">
                <img src="https://animadio.org/img/data/numbers/4.png" alt="Your awesome alternate text">
                <img src="https://animadio.org/img/data/numbers/5.png" alt="Your awesome alternate text">
            </figure>

            <!-- Slider Visual Controls -->
            <ul>
                <li>
                    <label for="slider-check-repeat" title="Repeat On/Off">
                        <i class="fas fa-plus-circle fa-lg" aria-hidden="true"></i>
                    </label>
                </li>
                <li>
                    <label for="slider-check-play" title="Play/Stop">
                        <i class="fas fa-play-circle fa-lg" aria-hidden="true"></i>
                    </label>
                </li>
                <li>
                    <label for="slider-check-direction" title="Direction Right/Left">
                        <i class="fas fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
                    </label>
                </li>
                <li>
                    <a href="https://doc.animadio.org" title="Doc">
                        <i class="fas fa-font fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <label for="slider-radio1" title="1st Picture">
                        <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                    </label>
                </li>
                <li>
                    <label for="slider-radio2" title="2nd Picture">
                        <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                    </label>
                </li>
                <li>
                    <label for="slider-radio3" title="3rd Picture">
                        <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                    </label>
                </li>
                <li>
                    <label for="slider-radio4" title="4th Picture">
                        <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                    </label>
                </li>
                <li>
                    <label for="slider-radio5" title="5th Picture">
                        <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                    </label>
                </li>
            </ul>

            <!-- Timeline -->
            <div></div>
        </header>
    </section>
</article>
