<article class="menu-target9">
    <h3>Table</h3>

    <section class="card">
        <h4>Table Infos</h4>
        <p>You can use Table class to show any array of datas !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/table.css" title="View Table Source Code">Table Code</a>
    </section>

    <section>
        <h4>Table Example</h4>

        <table class="table">
            <caption>Table Caption</caption>

            <thead>
            <tr>
                <th>Sign</th>
                <th>Element</th>
                <th>Vibration</th>
                <th>Polarity</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>Aries</th>
                <td>Fire</td>
                <td>Cardinal</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Taurus</th>
                <td>Earth</td>
                <td>Fixed</td>
                <td>Female</td>
            </tr>

            <tr>
                <th>Gemini</th>
                <td>Air</td>
                <td>Mutable</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Cancer</th>
                <td>Water</td>
                <td>Cardinal</td>
                <td>Female</td>
            </tr>

            <tr>
                <th>Leo</th>
                <td>Fire</td>
                <td>Fixed</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Virgo</th>
                <td>Earth</td>
                <td>Mutable</td>
                <td>Female</td>
            </tr>

            <tr>
                <th>Libra</th>
                <td>Air</td>
                <td>Cardinal</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Scorpio</th>
                <td>Water</td>
                <td>Fixed</td>
                <td>Female</td>
            </tr>

            <tr>
                <th>Sagittarius</th>
                <td>Fire</td>
                <td>Mutable</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Capricorn</th>
                <td>Earth</td>
                <td>Cardinal</td>
                <td>Female</td>
            </tr>

            <tr>
                <th>Aquarius</th>
                <td>Air</td>
                <td>Fixed</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Pisces</th>
                <td>Water</td>
                <td>Mutable</td>
                <td>Female</td>
            </tr>
            </tbody>
        </table>
    </section>
</article>
