<footer class="foot">
    <ul>
        <li>
            <h3>Project</h3>
            <ul>
                <li>
                    <a href="https://github.com/animadio/animadio" rel="noreferrer noopener" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://github.com/animadio/animadio/releases" rel="noreferrer noopener" target="_blank">Release</a>
                </li>
                <li>
                    <a href="https://github.com/animadio/animadio/wiki" rel="noreferrer noopener" target="_blank">About</a>
                </li>
                <li>
                    <a href="https://github.com/animadio/animadio/blob/master/LICENSE" rel="noreferrer noopener" target="_blank">License</a>
                </li>
                <li>
                    <a href="https://github.com/animadio/animadio/issues" rel="noreferrer noopener" target="_blank">Issues</a>
                </li>
                <li>
                    <a href="https://github.com/animadio/animadio/pulls" rel="noreferrer noopener" target="_blank">Requests</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>Community</h3>
            <ul>
                <li>
                    <a href="https://twitter.com/animadio" rel="noreferrer noopener" target="_blank">Twitter</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio" rel="noreferrer noopener" target="_blank">CodePen</a>
                </li>
                <li>
                    <a href="https://github.com/animadio/animadio#contributing" rel="noreferrer noopener" target="_blank">Contribute</a>
                </li>
                <li>
                    <a href="https://github.com/orgs/animadio/people" rel="noreferrer noopener" target="_blank">Team</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>Examples</h3>
            <ul>
                <li>
                    <a href="https://codepen.io/animadio/pen/rRvxRe" rel="noreferrer noopener" target="_blank">Navbar</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio/pen/QoryoX" rel="noreferrer noopener" target="_blank">Slider</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio/pen/LamGvj" rel="noreferrer noopener" target="_blank">Btn</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio/pen/KKPmGvE" rel="noreferrer noopener" target="_blank">Card</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio/pen/rRvxbe" rel="noreferrer noopener" target="_blank">Menu</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio/pen/NJMxmm" rel="noreferrer noopener" target="_blank">Gallery</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio/pen/EMLPzN" rel="noreferrer noopener" target="_blank">Form</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio/pen/ZPoQNb" rel="noreferrer noopener" target="_blank">Table</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio/pen/YgLwbe" rel="noreferrer noopener" target="_blank">Foot</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a class="color-red" href="https://www.npmjs.com/package/animadio" rel="noreferrer noopener" target="_blank" title="View Animadio @NPM">
                <i class="fab fa-npm fa-3x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="color-gh" href="https://github.com/animadio/animadio" rel="noreferrer noopener" target="_blank" title="View Animadio @GitHub">
                <i class="fab fa-github fa-3x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="color-gold" href="https://www.jsdelivr.com/package/npm/animadio" rel="noreferrer noopener" target="_blank" title="View Animadio @JSDelivr">
                <i class="fab fa-js-square fa-3x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</footer>