{% extends 'layout/layout.twig' %}

{% block subtitle %}Global{% endblock %}

{% block description %}Animadio Documentation about Animadio Global : variables, keyframes, init, box & helpers{% endblock %}

{% block main %}

<article>
    <h2>Global</h2>

    <section class="card-purple">
        <figure>
            <img src="img/logo.png" alt="Animadio Logo">
        </figure>
        <h3>Global Usage</h3>
        <p>The main feature of Animadio is the CSS variables usage, you can customize each variable directly from the CSS file !</p>
        <a class="btn-purple" href="https://cdn.jsdelivr.net/npm/animadio@2.0.3/dist/animadio.css" title="Access to Animadio CDN" rel="noreferrer noopener" target="_blank">Animadio CDN</a>
    </section>

    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">
    <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">

    <nav class="menu">
        <label for="menu-radio1" title="Show Variables Part">
            Variables
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio2" title="Show Keyframes Rules">
            Keyframes
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio3" title="Show Init Tags">
            Init
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
    </nav>

    <section class="menu-relay">
        <h3>Global Parts</h3>

        {{ include("global/variables.twig") }}
        {{ include("global/keyframes.twig") }}
        {{ include("global/init.twig") }}

    </section>
</article>
{% endblock %}
